
  .spinner-container {
    display: flex;
    justify-content: center;  // horizontal centering
    align-items: center;      // vertical centering  
    border: none;  
    height: 75vh;        // takes full viewport height (adjust as needed)
  }